[Desktop Entry]
Type=Application
Name=CustomOpenLink
Terminal=false
Exec=/home/rotsen/.dotfiles/custom-open-link/custom_open_link.rb %u
Categories=Network;WebBrowser
